In [31]:
!pip install ipython-sql  sqlalchemy-drill SQLAlchemy sqlalchemy JayDeBeApi pyodbc
!pip install --upgrade ipython

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy-drill in /opt/conda/lib/python3.9/site-packages (1.1.1)
Requirement already satisfied: SQLAlchemy in /opt/conda/lib/python3.9/site-packages (1.4.23)
Collecting JayDeBeApi
  Downloading JayDeBeApi-1.2.3-py3-none-any.whl (26 kB)
Requirement already satisfied: pyodbc in /opt/conda/lib/python3.9/site-packages (4.0.30)
Requirement already satisfied: prettytable<1 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from sqlalchemy-drill) (2.26.0)
Requirement already satisfied: ijson in /opt/conda/lib/python3.9/site-packages (from sqlalchemy-drill) (3.1.4)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Collecting JPype1
  Downloading JPype1-1.3.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.whl (449 kB)
     |████████████████████████████████| 449 kB 3.3 MB/s eta 0:00:01
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: decorator in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests->sqlalchemy-drill) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests->sqlalchemy-drill) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->sqlalchemy-drill) (2.0.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->sqlalchemy-drill) (3.1)
Installing collected packages: JPype1, JayDeBeApi
Successfully installed JPype1-1.3.0 JayDeBeApi-1.2.3
Requirement already satisfied: ipython in /opt/conda/lib/python3.9/site-packages (7.29.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.9/site-packages (from ipython) (5.1.0)
Requirement already satisfied: pygments in /opt/conda/lib/python3.9/site-packages (from ipython) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from ipython) (3.0.20)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.9/site-packages (from ipython) (0.7.5)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.9/site-packages (from ipython) (0.1.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.9/site-packages (from ipython) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.9/site-packages (from ipython) (58.0.4)
Requirement already satisfied: backcall in /opt/conda/lib/python3.9/site-packages (from ipython) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.9/site-packages (from ipython) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.9/site-packages (from ipython) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.9/site-packages (from jedi>=0.16->ipython) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.9/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)

In [70]:
def drill_sql(sql_select, echo = False):
    from sqlalchemy import create_engine
    from sqlalchemy.sql import text 
    import pandas as pd
    engine = create_engine("drill+sadrill://drill:8047/dfs?use_ssl=False", echo = echo)
    statement = text(sql_select)
    with engine.connect() as conn:    
        df = pd.read_sql(statement, conn)
        return df

In [71]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text 
import pandas as pd
engine = create_engine("drill+sadrill://drill:8047/cp?use_ssl=False", echo = False)
sql = "SELECT * FROM cp.`employee.json` LIMIT 10"
statement = text(sql)
with engine.connect() as conn:    
#    df = pd.read_sql(sql, conn)
    result = conn.execute(statement)
    df = pd.read_sql(statement, conn)

In [72]:
drill_sql('''
    select * from cp.`employee.json` 
          where position_title = 'Store Manager' 
          order by employee_id desc
''')

,employee_id,full_name,first_name,last_name,position_id,position_title,store_id,department_id,birth_date,hire_date,salary,supervisor_id,education_level,marital_status,gender,management_role
0,35,Ed Young,Ed,Young,11,Store Manager,23,11,1920-04-17,1994-12-01 00:00:00.0,11000.0,22,Bachelors Degree,S,M,Store Management
1,34,Nathan Muenich,Nathan,Muenich,11,Store Manager,22,11,1919-10-21,1994-12-01 00:00:00.0,7000.0,22,Graduate Degree,M,M,Store Management
2,33,Mary Solimena,Mary,Solimena,11,Store Manager,17,11,1971-07-23,1994-12-01 00:00:00.0,17000.0,22,Bachelors Degree,S,F,Store Management
3,32,Eric Long,Eric,Long,11,Store Manager,16,11,1930-01-08,1994-12-01 00:00:00.0,17000.0,22,High School Degree,M,M,Store Management
4,31,Paula Nickell,Paula,Nickell,11,Store Manager,15,11,1978-07-02,1994-12-01 00:00:00.0,14000.0,22,Partial College,S,F,Store Management
5,30,Cody Goldey,Cody,Goldey,11,Store Manager,3,11,1917-07-08,1994-12-01 00:00:00.0,15000.0,22,Partial College,M,M,Store Management
6,29,Kevin Armstrong,Kevin,Armstrong,11,Store Manager,2,11,1937-10-04,1994-12-01 00:00:00.0,8500.0,22,Graduate Degree,M,M,Store Management
7,28,Lois Wood,Lois,Wood,11,Store Manager,24,11,1970-03-12,1994-12-01 00:00:00.0,14000.0,21,Partial College,M,F,Store Management
8,27,Charles Macaluso,Charles,Macaluso,11,Store Manager,14,11,1934-03-17,1994-12-01 00:00:00.0,16000.0,21,Bachelors Degree,M,M,Store Management
9,26,Jose Bernard,Jose,Bernard,11,Store Manager,7,11,1954-08-25,1994-12-01 00:00:00.0,15000.0,21,High School Degree,S,M,Store Management
10,25,Lin Conley,Lin,Conley,11,Store Manager,6,11,1952-09-26,1994-12-01 00:00:00.0,12000.0,21,Graduate Degree,S,F,Store Management
11,24,Jacqueline Wyllie,Jacqueline,Wyllie,11,Store Manager,13,11,1921-12-04,1994-12-01 00:00:00.0,17000.0,20,Partial College,S,F,Store Management
12,23,Shauna Wyro,Shauna,Wyro,11,Store Manager,11,11,1916-10-24,1994-12-01 00:00:00.0,15000.0,20,Bachelors Degree,S,F,Store Management
13,19,Dianne Collins,Dianne,Collins,11,Store Manager,20,11,1953-07-20,1998-01-01 00:00:00.0,10000.0,4,Bachelors Degree,S,F,Store Management
14,18,Daniel Wolter,Daniel,Wolter,11,Store Manager,19,11,1914-09-21,1998-01-01 00:00:00.0,17000.0,4,Partial College,S,M,Store Management
15,17,Brenda Marshall,Brenda,Marshall,11,Store Manager,18,11,1928-03-20,1998-01-01 00:00:00.0,10000.0,5,Partial College,S,F,Store Management
16,16,Peggy Planck,Peggy,Planck,11,Store Manager,12,11,1919-06-02,1998-01-01 00:00:00.0,17000.0,5,Bachelors Degree,S,F,Store Management
17,15,Walter Cavestany,Walter,Cavestany,11,Store Manager,4,11,1941-11-05,1998-01-01 00:00:00.0,12000.0,5,Bachelors Degree,M,M,Store Management
18,14,Bryan Rutledge,Bryan,Rutledge,11,Store Manager,8,11,1912-07-09,1998-01-01 00:00:00.0,17000.0,5,Bachelors Degree,M,M,Store Management
19,13,Peggy Medina,Peggy,Medina,11,Store Manager,10,11,1975-10-12,1998-01-01 00:00:00.0,15000.0,5,Bachelors Degree,S,F,Store Management
20,12,Jewel Creek,Jewel,Creek,11,Store Manager,5,11,1971-10-18,1998-01-01 00:00:00.0,8500.0,5,Graduate Degree,S,F,Store Management
21,11,Jonathan Murraiin,Jonathan,Murraiin,11,Store Manager,1,11,1967-06-20,1998-01-01 00:00:00.0,15000.0,5,Graduate Degree,S,M,Store Management
22,9,Brenda Blumberg,Brenda,Blumberg,11,Store Manager,21,11,1979-06-23,1998-01-01 00:00:00.0,17000.0,5,Graduate Degree,M,F,Store Management
23,8,Kim Brunner,Kim,Brunner,11,Store Manager,9,11,1922-08-10,1998-01-01 00:00:00.0,10000.0,5,Bachelors Degree,S,F,Store Management

In [59]:
df

,employee_id,full_name,first_name,last_name,position_id,position_title,store_id,department_id,birth_date,hire_date,salary,supervisor_id,education_level,marital_status,gender,management_role
0,1,Sheri Nowmer,Sheri,Nowmer,1,President,0,1,1961-08-26,1994-12-01 00:00:00.0,80000.0,0,Graduate Degree,S,F,Senior Management
1,2,Derrick Whelply,Derrick,Whelply,2,VP Country Manager,0,1,1915-07-03,1994-12-01 00:00:00.0,40000.0,1,Graduate Degree,M,M,Senior Management
2,4,Michael Spence,Michael,Spence,2,VP Country Manager,0,1,1969-06-20,1998-01-01 00:00:00.0,40000.0,1,Graduate Degree,S,M,Senior Management
3,5,Maya Gutierrez,Maya,Gutierrez,2,VP Country Manager,0,1,1951-05-10,1998-01-01 00:00:00.0,35000.0,1,Bachelors Degree,M,F,Senior Management
4,6,Roberta Damstra,Roberta,Damstra,3,VP Information Systems,0,2,1942-10-08,1994-12-01 00:00:00.0,25000.0,1,Bachelors Degree,M,F,Senior Management
5,7,Rebecca Kanagaki,Rebecca,Kanagaki,4,VP Human Resources,0,3,1949-03-27,1994-12-01 00:00:00.0,15000.0,1,Bachelors Degree,M,F,Senior Management
6,8,Kim Brunner,Kim,Brunner,11,Store Manager,9,11,1922-08-10,1998-01-01 00:00:00.0,10000.0,5,Bachelors Degree,S,F,Store Management
7,9,Brenda Blumberg,Brenda,Blumberg,11,Store Manager,21,11,1979-06-23,1998-01-01 00:00:00.0,17000.0,5,Graduate Degree,M,F,Store Management
8,10,Darren Stanz,Darren,Stanz,5,VP Finance,0,5,1949-08-26,1994-12-01 00:00:00.0,50000.0,1,Partial College,M,M,Senior Management
9,11,Jonathan Murraiin,Jonathan,Murraiin,11,Store Manager,1,11,1967-06-20,1998-01-01 00:00:00.0,15000.0,5,Graduate Degree,S,M,Store Management

In [10]:
%reload_ext sql

In [74]:
%%sql drill+sadrill://drill:8047/cp?use_ssl=False
    SELECT * 
        FROM cp.`employee.json` 
        LIMIT 20

DatabaseError: (sqlalchemy_drill.drilldbapi.api_exceptions.DatabaseError) 'Final Drill query state is FAILED HTTP ERROR: None'
[SQL: commit]
(Background on this error at: https://sqlalche.me/e/14/4xp6)