In [7]:
# Download the required jar library for elastic

In [1]:
! sudo curl https://repo1.maven.org/maven2/org/elasticsearch/elasticsearch-spark-20_2.12/7.15.0/elasticsearch-spark-20_2.12-7.15.0.jar --output /usr/local/spark/jars/elasticsearch-spark-20_2.12-7.15.0.jar

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2052k  100 2052k    0     0  6536k      0 --:--:-- --:--:-- --:--:-- 6515k

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [75]:
#   .config("spark.es.nodes.wan.only","true") \
spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
    .config("spark.es.nodes","es01") \
    .config("spark.es.port","9200") \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

In [76]:
# let's get some file to shove into elastic
df = spark.read.csv("/home/jovyan/datasets/customers/customers.csv", header=True, inferSchema=True)
df.show()

+------+----------+--------------------+------+---------------+-----------+-----+------------+---------------+---------------+
| First|      Last|               Email|Gender|Last IP Address|       City|State|Total Orders|Total Purchased|Months Customer|
+------+----------+--------------------+------+---------------+-----------+-----+------------+---------------+---------------+
|    Al|    Fresco|  afresco@dayrep.com|     M|  74.111.18.161|   Syracuse|   NY|           1|             45|              1|
|  Abby|      Kuss|     akuss@rhyta.com|     F|  23.80.125.101|    Phoenix|   AZ|           1|             25|              2|
| Arial|     Photo|   aphoto@dayrep.com|     F|     24.0.14.56|     Newark|   NJ|           1|            680|              1|
| Bette|     Alott|    balott@rhyta.com|     F| 56.216.127.219|    Raleigh|   NC|           6|            560|             18|
| Barb |    Barion|bbarion@superrito...|     F|   38.68.15.223|     Dallas|   TX|           4|           1590|              1|
| Barry|DeHatchett|bdehatchett@dayre...|     M|  23.192.215.78|     Boston|   MA|           1|             15|              6|
|  Bill|   Melator| bmelator@einrot.com|     M|   24.11.125.10|       Orem|   UT|           9|           6090|             35|
| Candi|     Cayne|    ccayne@rhyta.com|     F|    24.39.14.15|   Portland|   ME|           1|            620|              2|
| Carol|      Ling| cling@superrito.com|     F|  23.180.242.66|   Syracuse|   NY|           2|            440|              6|
|   Cam|       Rha|     crha@einrot.com|     M|    24.1.25.140|    Chicago|   IL|           0|              0|              1|
|   Dan|   Delyons| ddelyons@dayrep.com|     M|  24.38.224.161|  Greenwich|   CT|           2|           2570|             10|
|  Erin|   Detyers| edetyers@dayrep.com|     F|   70.209.14.54|      Tampa|   FL|           5|           1105|             38|
| Euron| Tasomthin|etasomthin@superr...|     M|  68.199.40.156|  Hempstead|   NY|          13|           4630|             28|
|Justin|      Case|    jcase@dayrep.com|     M|  23.192.215.44|     Boston|   MA|           3|           1050|              1|
|  Jean|     Poole|   jpoole@dayrep.com|     F|   23.182.25.40|   Kingston|   NY|           7|            185|             12|
|   Lee|  Hvmeehom|lhvmeehom@einrot.com|     F|    215.82.23.2|   Columbus|   OH|           9|            207|             18|
|  Lisa|Karfurless|lkarfurless@dayre...|     F|  172.189.252.8|    Fairfax|   VA|           6|            250|             27|
|  Mary|   Melator|  mmelator@rhyta.com|     F|     23.88.15.5|Los Angeles|   CA|           8|           4275|             40|
|  Mike|    Rofone|  mrofone@dayrep.com|     M|   23.224.160.4|   Cheyenne|   WY|           0|              0|              0|
|  Oren|   Jouglad| ojouglad@einrot.com|     M|128.122.140.238|   New York|   NY|          12|           4500|             36|
+------+----------+--------------------+------+---------------+-----------+-----+------------+---------------+---------------+
only showing top 20 rows

## Geocoding

To use a map in Kibana our data must contain geopoints.We will use a python library to help.

In [77]:
!pip install -q  geocoder

In [78]:
import geocoder
def geoiplookup(ipaddress) ->list :
    geo =  geocoder.ip(ipaddress).latlng
    #return  {'lat' : geo[0], 'lon' : geo[1] }
    return geo

def geoiplookup_lat(ipaddress):
    geo =  geocoder.ip(ipaddress).latlng
    #return  {'lat' : geo[0], 'lon' : geo[1] }
    return geo[0]

def geoiplookup_lon(ipaddress):
    geo =  geocoder.ip(ipaddress).latlng
    #return  {'lat' : geo[0], 'lon' : geo[1] }
    return geo[1]

geoiplookup("8.8.8.8")

[37.4056, -122.0775]

In [79]:
from pyspark.sql.functions import udf 

geoiplookup_lat_udf = udf(geoiplookup_lat)
geoiplookup_lon_udf = udf(geoiplookup_lon)

df = df.withColumn("geolat",geoiplookup_lat_udf("Last IP Address").cast("float"))
df = df.withColumn("geolon",geoiplookup_lon_udf("Last IP Address").cast("float"))
df.printSchema()

root
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Last IP Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Total Orders: integer (nullable = true)
 |-- Total Purchased: integer (nullable = true)
 |-- Months Customer: integer (nullable = true)
 |-- geolat: float (nullable = true)
 |-- geolon: float (nullable = true)

In [80]:
# write the file to the "customers" index with type "_doc"
df.write.format("es").mode("overwrite").save("customers/_doc")

In [81]:
# read the exact same data back out again
df2 = spark.read.format("es").load("customers/_doc")
df2.show()

+-----------+--------------------+------+------+----------+---------------+---------------+-----+------------+---------------+----+-------+---------+
|       City|               Email| First|Gender|      Last|Last IP Address|Months Customer|State|Total Orders|Total Purchased| geo| geolat|   geolon|
+-----------+--------------------+------+------+----------+---------------+---------------+-----+------------+---------------+----+-------+---------+
|   Syracuse|  afresco@dayrep.com|    Al|     M|    Fresco|  74.111.18.161|              1|   NY|           1|             45|null|42.9317| -76.5661|
|    Phoenix|     akuss@rhyta.com|  Abby|     F|      Kuss|  23.80.125.101|              2|   AZ|           1|             25|null|34.0522|-118.2437|
|     Newark|   aphoto@dayrep.com| Arial|     F|     Photo|     24.0.14.56|              1|   NJ|           1|            680|null|40.5576| -74.2846|
|    Raleigh|    balott@rhyta.com| Bette|     F|     Alott| 56.216.127.219|             18|   NC|           6|            560|null|35.7977| -78.6253|
|     Dallas|bbarion@superrito...| Barb |     F|    Barion|   38.68.15.223|              1|   TX|           4|           1590|null|38.9014| -77.0504|
|     Boston|bdehatchett@dayre...| Barry|     M|DeHatchett|  23.192.215.78|              6|   MA|           1|             15|null|47.6062|-122.3321|
|       Orem| bmelator@einrot.com|  Bill|     M|   Melator|   24.11.125.10|             35|   UT|           9|           6090|null|40.6869|-111.8755|
|   Portland|    ccayne@rhyta.com| Candi|     F|     Cayne|    24.39.14.15|              2|   ME|           1|            620|null|43.6253| -75.3671|
|   Syracuse| cling@superrito.com| Carol|     F|      Ling|  23.180.242.66|              6|   NY|           2|            440|null|40.7143|  -74.006|
|    Chicago|     crha@einrot.com|   Cam|     M|       Rha|    24.1.25.140|              1|   IL|           0|              0|null|  41.85|   -87.65|
|  Greenwich| ddelyons@dayrep.com|   Dan|     M|   Delyons|  24.38.224.161|             10|   CT|           2|           2570|null|41.1792| -73.1894|
|      Tampa| edetyers@dayrep.com|  Erin|     F|   Detyers|   70.209.14.54|             38|   FL|           5|           1105|null| 33.749|  -84.388|
|  Hempstead|etasomthin@superr...| Euron|     M| Tasomthin|  68.199.40.156|             28|   NY|          13|           4630|null|40.3154| -74.2463|
|     Boston|    jcase@dayrep.com|Justin|     M|      Case|  23.192.215.44|              1|   MA|           3|           1050|null|47.6062|-122.3321|
|   Kingston|   jpoole@dayrep.com|  Jean|     F|     Poole|   23.182.25.40|             12|   NY|           7|            185|null|40.7143|  -74.006|
|   Columbus|lhvmeehom@einrot.com|   Lee|     F|  Hvmeehom|    215.82.23.2|             18|   OH|           9|            207|null| 39.969| -83.0114|
|    Fairfax|lkarfurless@dayre...|  Lisa|     F|Karfurless|  172.189.252.8|             27|   VA|           6|            250|null|37.7712|-122.4413|
|Los Angeles|  mmelator@rhyta.com|  Mary|     F|   Melator|     23.88.15.5|             40|   CA|           8|           4275|null|50.4779|  12.3713|
|   Cheyenne|  mrofone@dayrep.com|  Mike|     M|    Rofone|   23.224.160.4|              0|   WY|           0|              0|null|34.0522|-118.2437|
|   New York| ojouglad@einrot.com|  Oren|     M|   Jouglad|128.122.140.238|             36|   NY|          12|           4500|null|40.7143|  -74.006|
+-----------+--------------------+------+------+----------+---------------+---------------+-----+------------+---------------+----+-------+---------+
only showing top 20 rows