# Example to Read / Write to Mongo DB with Spark

Documentation: https://docs.mongodb.com/spark-connector/master/python-api/

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
# MONGO CONFIGURATION
mongo_uri = "mongodb://admin:mongopw@mongo:27017/demo.feedback?authSource=admin"

In [4]:
# Spark init
spark = SparkSession \
    .builder \
    .master("local") \
    .appName('jupyter-pyspark') \
      .config("spark.mongodb.input.uri", mongo_uri) \
      .config("spark.mongodb.output.uri", mongo_uri) \
      .config("spark.jars.packages","org.mongodb.spark:mongo-spark-connector_2.12:3.0.1")\
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-bf4617f0-ce5a-4a39-a68a-d9cdb5a77d80;1.0
	confs: [default]

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
downloading https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector_2.12/3.0.1/mongo-spark-connector_2.12-3.0.1.jar ...
	[SUCCESSFUL ] org.mongodb.spark#mongo-spark-connector_2.12;3.0.1!mongo-spark-connector_2.12.jar (103ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-sync/4.0.5/mongodb-driver-sync-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-sync;4.0.5!mongodb-driver-sync.jar (21ms)
downloading https://repo1.maven.org/maven2/org/mongodb/bson/4.0.5/bson-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#bson;4.0.5!bson.jar (31ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-core/4.0.5/mongodb-driver-core-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-core;4.0.5!mongodb-driver-core.jar (53ms)
:: resolution report :: resolve 909ms :: artifacts dl 211ms
	:: modules in use:
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   4   |   4   |   0   ||   4   |   4   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-bf4617f0-ce5a-4a39-a68a-d9cdb5a77d80
	confs: [default]
	4 artifacts copied, 0 already retrieved (2728kB/6ms)
21/11/16 22:42:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/16 22:42:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
21/11/16 22:42:02 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
21/11/16 22:42:02 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
21/11/16 22:42:02 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
21/11/16 22:42:02 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
21/11/16 22:42:02 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

In [5]:
# read local data
df = spark.read.option("multiline","true").json("/home/jovyan/datasets/json-samples/stocks.json")
df.toPandas()

     price symbol
0   126.82   AAPL
1  3098.12   AMZN
2   251.11     FB
3  1725.05   GOOG
4   128.39    IBM
5   212.55   MSFT
6    78.00    NET
7   497.00   NFLX
8   823.80   TSLA
9    45.11   TWTR

In [6]:
# Write to back to mongo... it doesnt give a crap about schema... its a document database!
df.write.format("mongo") \
    .mode("overwrite") \
    .option("database","example") \
    .option("collection","stocks") \
    .save()

In [8]:
# read back from Mongo
df1 = spark.read.format("mongo") \
    .option("database","example") \
    .option("collection","stocks") \
    .load()
df1.toPandas()

                           _id    price symbol
0  (6194340c20d54446395d6b84,)   126.82   AAPL
1  (6194340c20d54446395d6b85,)  3098.12   AMZN
2  (6194340c20d54446395d6b86,)   251.11     FB
3  (6194340c20d54446395d6b87,)  1725.05   GOOG
4  (6194340c20d54446395d6b88,)   128.39    IBM
5  (6194340c20d54446395d6b89,)   212.55   MSFT
6  (6194340c20d54446395d6b8a,)    78.00    NET
7  (6194340c20d54446395d6b8b,)   497.00   NFLX
8  (6194340c20d54446395d6b8c,)   823.80   TSLA
9  (6194340c20d54446395d6b8d,)    45.11   TWTR