# Example to Read / Write to Neo4j with Spark

Documentation: https://neo4j.com/developer/spark/

NOTE: Spark dataframe integration for Neo4j, at the time of integration did not have a maven repository setup with the proper version. Therefore we import it manually:

In [1]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
# NEO4J  CONFIGURATION
bolt_url = "bolt://neo4j:7687"

In [5]:
# NOT AVAILABLE:      .config("spark.jars.packages","neo4j-contrib:neo4j-connector-apache-spark_2.12:4.1.0")\

# Spark init
spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/11/16 21:52:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/16 21:52:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
21/11/16 21:52:08 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
21/11/16 21:52:08 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
21/11/16 21:52:08 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [43]:
# read local data
df = spark.read.option("multiline","true").json("/home/jovyan/datasets/json-samples/stocks.json")
df.toPandas()

     price symbol
0   126.82   AAPL
1  3098.12   AMZN
2   251.11     FB
3  1725.05   GOOG
4   128.39    IBM
5   212.55   MSFT
6    78.00    NET
7   497.00   NFLX
8   823.80   TSLA
9    45.11   TWTR

In [44]:
# erase the nodes if they exist, with a Cipher query
df.write.format("org.neo4j.spark.DataSource").mode("Overwrite").option("url", bolt_url).option("query","match (s:stocks) delete s").save()

In [51]:
# Write to back to Neo4j as nodes with symbol as the key
df.write.format("org.neo4j.spark.DataSource")\
  .mode("Overwrite")\
  .option("url", bolt_url) \
  .option("labels", "stocks") \
  .option("node.keys","symbol") \
  .save()

In [48]:
# read back from Neo4j
df1 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("labels", "stocks") \
  .load()
df1.toPandas()

   <id>  <labels> symbol    price
0     0  [stocks]   AAPL   126.82
1     1  [stocks]   AMZN  3098.12
2     2  [stocks]     FB   251.11
3     3  [stocks]   GOOG  1725.05
4     4  [stocks]    IBM   128.39
5     5  [stocks]   MSFT   212.55
6     6  [stocks]    NET    78.00
7     7  [stocks]   NFLX   497.00
8     8  [stocks]   TSLA   823.80
9     9  [stocks]   TWTR    45.11

In [47]:
# We can Write a Cypher query, too:
cipher_ql = "MATCH (s:stocks) where s.price < 100  RETURN s.symbol, s.price"
df2 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .load()
df2.toPandas()

  s.symbol  s.price
0      NET    78.00
1     TWTR    45.11