In [1]:
! sudo cp /home/jovyan/work/jar/spark-cassandra-connector-assembly-3.1.0-11-g53f24ce9.jar /usr/local/spark/jars/spark-cassandra-connector-assembly-3.1.0-11-g53f24ce9.jar

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
#     .config("spark.sql.extensions","com.datastax.spark.connector.CassandraSparkExtensions") \

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
    .config("spark.cassandra.connection.host", "cassandra0") \
    .config("spark.sql.catalog.cassandra", "com.datastax.spark.connector.datasource.CassandraCatalog") \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/28 16:51:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

RUN THIS CSQL Code in CQLSH
```
CREATE KEYSPACE test WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1 };
CREATE TABLE test.words (word text , count int, primary key (word) );
INSERT INTO test.words(word, count) VALUES ('and', 50);
```

In [7]:
# read table
spark.read.format("org.apache.spark.sql.cassandra")\
    .options(table="words", keyspace="demo")\
    .load().show()

+----+-----+
|word|count|
+----+-----+
| and|   50|
|  or|   53|
+----+-----+

In [48]:
# another way to read a table
spark.read.table("cassandra.test.words").show()

+----+-----+
|word|count|
+----+-----+
| and|   50|
+----+-----+

In [49]:
# Spark doesn't care about cassandra constraints.
spark.read.table("cassandra.demo.system_utilization").filter("cpu_pct = 5").show()

+--------+-------------------+-------+-------+
|hostname|        measured_on|cpu_pct|     os|
+--------+-------------------+-------+-------+
|    mars|2018-07-19 09:00:00|      5|windows|
|  Saturn|2018-07-19 10:00:00|      5|windows|
|   venus|2018-07-19 09:00:00|      5|    osx|
+--------+-------------------+-------+-------+

In [8]:
# read csv files....
df = spark.read.csv("/home/jovyan/datasets/ufo-sightings/ufo-sightings-2016-*.csv",header=True, inferSchema=True).cache()
df.filter("State is not null").show(10)
df.printSchema()

+-------------+--------------------+-----+---------+-------------+--------------------+--------+
|  Date / Time|                City|State|    Shape|     Duration|             Summary|  Posted|
+-------------+--------------------+-----+---------+-------------+--------------------+--------+
|2/29/16 23:45|        Harbor Beach|   MI|    Light|     1 minute|Yellow/white ball...|3/4/2016|
|2/29/16 23:30|           Sebastian|   FL| Triangle|20-40 minutes|6 low flying craf...|3/4/2016|
|2/29/16 23:00|Salunga/Landisvil...|   PA| Triangle| 5-15 minutes|Pennsylvania tria...|3/4/2016|
|2/29/16 22:00|                York|   PA| Triangle|   30 minutes|Myself and 2 frie...|3/4/2016|
|2/29/16 21:35|              Joliet|   IL|  Unknown|   10 minutes|At approximately ...|3/4/2016|
|2/29/16 20:45|  Port Hope (Canada)|   ON|    Light|   20 minutes|Strange glowing l...|3/4/2016|
|2/29/16 20:29|       Warner Robins|   GA| Fireball|    2 minutes|There were severa...|3/4/2016|
|2/29/16 19:50|              Athens|   GA|    Other|  Few seconds|Object with a lin...|3/4/2016|
|2/29/16 19:30|             Clinton|   MO|  Unknown|   20 minutes|Orange low level ...|3/4/2016|
|2/29/16 19:20|              Stover|   MO|Formation|    5 minutes|At least 6 orange...|3/4/2016|
+-------------+--------------------+-----+---------+-------------+--------------------+--------+
only showing top 10 rows

root
 |-- Date / Time: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Shape: string (nullable = true)
 |-- Duration: string (nullable = true)
 |-- Summary: string (nullable = true)
 |-- Posted: string (nullable = true)

# CQL - not an ideal key selection, but this is just a demo
```
create table ufos ( 
    "State" text, 
    "City" text, 
    "Duration" text, 
    "Shape" text, 
    "Summary" text, 
    primary key ( "State", "City")
);
```

In [26]:
# Save To Cassandra!!!

# Make sure there are not nulls in the PK values!
df2 = df.select("City","State","Duration","Shape", "Summary").filter("State is not null").filter("City is not null")

# Write to the cassandra table!
df2.write.format("org.apache.spark.sql.cassandra")\
    .mode('overwrite')\
    .option("confirm.truncate","true")\
    .options(table="ufos", keyspace="demo")\
    .save()

In [27]:
# read back from Cassandra !!!
cdf = spark.read.table("cassandra.demo.ufos")
cdf.show(100)

+-----+--------------------+---------------+---------+--------------------+
|State|                City|       Duration|    Shape|             Summary|
+-----+--------------------+---------------+---------+--------------------+
|   SK|Phalaborwa (South...|      5 minutes|     Cone|Strange light ove...|
|   NC|               Arden|      5 minutes| Triangle|I witnessed one l...|
|   NC|           Asheville|     90 seconds|  Unknown|UFO followed by JETS|
|   NC|              Biscoe|        5 hours|    Light|I have seen this ...|
|   NC|            Calabash|      3 seconds|    Flash|Bright, silvery o...|
|   NC|             Candler|     10 minutes|   Sphere|Cluster of black ...|
|   NC|      Carolina Beach|           5:00|    Other|Reddish-orange li...|
|   NC|           Charlotte|   6-10 seconds|   Circle|Blue orb with aur...|
|   NC|Charlotte (outsid...|     5 minutes+|    Other|Daytime sighting ...|
|   NC|         Cherryville|     30 minutes|  Unknown|Loud horn-like no...|
|   NC|            Columbus|        3 hours|    Other|I woke to use the...|
|   NC|             Concord|     15 minutes| Triangle|V shape, bright w...|
|   NC|           Cooleemee|      4 minutes|  Unknown|7 dark masses slo...|
|   NC|              Durham|     20 seconds| Triangle|     Triangle craft.|
|   NC|        Emerald Isle|     15 minutes|   Circle|Bright Red/green ...|
|   NC|        Fayetteville|     10 minutes|Formation|Two objects flyin...|
|   NC|           Four Oaks|     15 minutes|    Light|Strange yellow li...|
|   NC|         Franklinton|     20 seconds| Fireball|Ball of fire fall...|
|   NC|       Fuquay Varina|      3 minutes|    Other|Rectangular objec...|
|   NC|              Graham| Still going on|    Light|My husband and I ...|
|   NC|          Greensboro|     10 seconds| Triangle|Black trangular o...|
|   NC|          Hayesville|     30 seconds| Fireball|Brilliant red obj...|
|   NC|           Henderson|     45 seconds|    Other|Bright phenomenon...|
|   NC|      Hendersonville|      2.5 hours|    Light|Very bright objec...|
|   NC|            Hertford|        2 hours| Triangle|Large triangle of...|
|   NC|          High Point|     10 seconds|     Disk|Disk oval shaped ...|
|   NC|        Hurdle Mills|      4 minutes|  Diamond|Diamond-shaped ob...|
|   NC|             Ivanhoe|     10 minutes| Triangle|An object with re...|
|   NC|        Johnsonville|      3 minutes|   Circle|They were small b...|
|   NC|        Kernersville|      5 minutes| Fireball|Orangish Red glow...|
|   NC|    Kill Devil Hills|      6 minutes|    Light|Bright orange, ro...|
|   NC|            Matthews|    3-5 minutes| Triangle|Pyramid formation...|
|   NC|              Maxton|     10 seconds| Triangle|Small triangle, o...|
|   NC|         Mill Spring|      5 minutes|    Cigar|Slim object with ...|
|   NC|     Mineral Springs|     45 minutes|    Light|My wife and I sit...|
|   NC|              Monroe|     15 minutes|    Other|I look up at the ...|
|   NC|          Mount Airy|     15 seconds|    Light|((HOAX??)) Blue l...|
|   NC|           Nags Head|     30 seconds|   Sphere|Orange red sphere...|
|   NC|           Nashville|     20 minutes|    Light|"""Helicopter"" l...|
|   NC|             Norwood|      3 minutes|   Sphere|(2)--Red orange s...|
|   NC|          Oak Island|     30 minutes|    Light|Red-orange circul...|
|   NC|    Ocean Isle Beach|    25+ minutes|    Light|"6 ""Strobing"" L...|
|   NC|                Otto|several minutes|    Light|Light in sky; dep...|
|   NC|           Princeton|      5 minutes|   Circle|3 sets of red lig...|
|   NC|             Raleigh|     20 minutes|    Light|Very bright light...|
|   NC|           Red Cross|     60 seconds|    Cigar|I saw a thin whit...|
|   NC|           Richlands|      3 minutes|   Circle|UFO with green ci...|
|   NC|              Rosman|     20 minutes|    Light|I was sitting on ...|
|   NC|          Smithfield|     15 minutes|  Unknown|Very large craft ...|
|   NC|           Southmont|     90 seconds|    Cross|5 unidentified cr...|
|   NC|         Statesville|        seconds|Rectangle|Object(s) spotted...|
|   NC|         Summerfield|     10 seconds|    Flash|Fast bright silen...|
|   NC|          Sunny View|      5 minutes|   Sphere|Witnessed stars m...|
|   NC|          Walkertown|       1 minute| Triangle|((HOAX??)) Triang...|
|   NC|          Wilmington|     90 seconds|  Unknown|Two unexplained f...|
|   NC|       Winston-Salem|      5 minutes| Fireball|Very large fireco...|
|   NC|Winston-Salem/Lex...|      5 minutes| Fireball|Six fireballs fly...|
|   BC|Delta/Tsawwassen ...|   5-10 seconds|   Sphere|Blue-green sphere...|
|   BC|Fort St. John (Ca...|     30 seconds|    Light|Flash of light a ...|
|   BC|   Kamloops (Canada)|    1-2 minutes|  Unknown|Massive dome shap...|
|   BC|    Langley (Canada)|        ~1 hour|    Light|Glimmering ball o...|
|   BC|Maple Ridge (Canada)|      5 minutes|  Unknown|Sitting on my dec...|
|   BC|     North Vancouver|             15|     Disk|We saw a giant si...|
|   BC|North Vancouver (...|    1-2 minutes|     Disk|Giant mother ship...|
|   BC|  Vancouver (Canada)|    3-5 minutes|   Sphere|Disc or spherical...|
|   BC|Victoria (above)(...|     20 seconds|    Light|ZIG ZAGGING SATEL...|
|   BC|Walnut Grove (Can...|      3 minutes|     Disk|2 discs glowing a...|
|   CO|            Antinito|           null| Cylinder|Object discovered...|
|   CO|              Arvada|              ?| Fireball|Orange fire low i...|
|   CO|              Aurora|     10 minutes|   Circle|Large light, chan...|
|   CO|             Boulder|      5 minutes|    Light|Stationary glowin...|
|   CO|            Brighton|    3-5 minutes|   Circle|3 white round obj...|
|   CO|          Broomfield|     10 minutes|  Unknown|((HOAX?))Plane li...|
|   CO|           Cedaredge|      5 minutes|    Flash|MULTIPLE INTERMIT...|
|   CO|    Colorado Springs|  15-20 minutes|  Unknown|Multiple Color UF...|
|   CO|Colorado Springs ...|      3 minutes| Changing|Dark, elongated h...|
|   CO|              Creede|      2 minutes|   Sphere|Two spheres, brig...|
|   CO|       Crested Butte|        2 hours|     Disk|Craziest UFO Siti...|
|   CO|              Denver|     indefinite|    Light|Strange behavior ...|
|   CO|        Denver Metro|   5-10 minutes|    Light|It was partially ...|
|   CO|              Elbert|     10 minutes|    Other|String of 5 Total...|
|   CO|                Erie|    2-5 seconds| Triangle|5-6 objects flyin...|
|   CO|          Estes Park|      3 minutes|     Oval|Bright light with...|
|   CO|               Evans|     15 seconds| Triangle|Transparent trian...|
|   CO|            Florence|      3 minutes|     Disk|Gray, disk shaped...|
|   CO|        Fort Collins|     20 minutes|     Oval|Freak lightning s...|
|   CO|            Fountain|      2 minutes|  Diamond|Craft hovers over...|
|   CO|         Ft. Collins|       1 minute| Fireball|Orange Fireball a...|
|   CO|    Glenwood Springs|      3 minutes|     Disk|Sighting disk obj...|
|   CO|      Grand Junction|      2 minutes|   Sphere|Bright red sphere...|
|   CO|               Grant|     30 minutes|    Light|Flashes of light ...|
|   CO|             Greeley|     15 minutes| Triangle|We saw 3 white/or...|
|   CO|            La Junta|     30 minutes| Fireball|Flying object sho...|
|   CO|              LaVeta|         1 hour|    Other|USAF craft chasin...|
|   CO|           Lafayette|     10 minutes|  Unknown|The sky was pitch...|
|   CO|Lascar (I-25; MM 62)|        2 hours|   Sphere|Two beach ball si...|
|   CO|           Littleton|     10 minutes|   Circle|To fast and irreg...|
|   CO|            Longmont|             20|  Diamond|4 or 5 red/orange...|
|   CO|            Loveland|     15 minutes|Formation|My husband called...|
|   CO|            Milliken|       1 minute| Fireball|Light orange/whit...|
+-----+--------------------+---------------+---------+--------------------+
only showing top 100 rows

In [6]:
df=spark.read.json("/home/jovyan/datasets/weather/weather.json").cache()
df.toPandas().sample(10)
#df.printSchema()

,2020census,city,condition,date,description,dew_point,latitude,longitude,moon_phase,pct_clouds,...,temperature.eve,temperature.max,temperature.min,temperature.morn,temperature.night,timezone,uv_index,wind.direction_deg,wind.gust,wind.speed
129,873965,San Francisco,Rain,2021-10-20,moderate rain,48.83,37.779026,-122.419906,0.50,100,...,57.45,59.50,56.46,57.51,59.50,America/Los_Angeles,0.41,166,30.67,15.97
717,249422,Chesapeake,Clouds,2021-10-24,scattered clouds,52.12,36.718371,-76.246680,0.62,42,...,69.06,72.93,60.12,60.64,62.62,America/New_York,5.00,80,11.25,7.23
860,211328,Rochester,Rain,2021-10-23,light rain,37.80,43.157285,-77.615214,0.59,100,...,48.94,48.94,44.06,45.28,44.06,America/New_York,1.88,176,5.14,4.70
351,442241,Miami,Rain,2021-10-26,light rain,67.30,25.774173,-80.193620,0.68,37,...,80.01,81.97,79.03,79.45,79.66,America/New_York,4.00,63,21.54,19.71
1255,169450,Palmdale,Clear,2021-10-26,clear sky,35.91,34.579313,-118.117111,0.69,1,...,57.97,58.23,46.47,46.47,49.84,America/Los_Angeles,5.00,257,11.01,7.74
1094,187593,Shreveport,Clouds,2021-10-25,broken clouds,67.96,32.522183,-93.765194,0.65,54,...,81.55,87.10,70.68,70.68,78.69,America/Chicago,6.00,172,25.37,8.81
1536,141290,Olathe,Clear,2021-10-19,clear sky,49.23,38.883886,-94.818870,0.47,1,...,67.19,73.54,54.52,55.02,65.08,America/Chicago,4.04,185,39.08,18.54
1300,159467,Alexandria,Clouds,2021-10-23,broken clouds,46.63,38.805110,-77.047023,0.59,78,...,66.83,67.80,55.08,58.23,55.08,America/New_York,2.79,301,21.70,9.15
629,270871,Toledo,Clouds,2021-10-24,broken clouds,29.53,41.652914,-83.537817,0.62,80,...,49.39,50.52,39.45,39.45,49.37,America/New_York,2.00,97,19.57,10.69
1129,181099,Chattanooga,Clouds,2021-10-20,few clouds,51.33,35.045722,-85.309488,0.50,18,...,63.28,74.07,48.96,49.26,59.13,America/New_York,4.64,201,8.21,4.97

In [8]:
df.createOrReplaceTempView("weather")

In [10]:
spark.sql('''
select count(*) from weather
''').show()

+--------+
|count(1)|
+--------+
|    1600|
+--------+

In [14]:
spark.sql('''
select count(*) from (
    select distinct city, state, date from weather
)
''').show()

+--------+
|count(1)|
+--------+
|    1600|
+--------+

In [16]:
df1 = df.toDF("census", "city", "condition", "date", "description",\
              "dew_point", "latitude", "longitude", "moon_phase", "pct_clouds",\
              "pct_humidity", "pressure", "rainfall", "snowfall", "state",\
              "temperature_day", "temperature_eve", "temperature_max",\
              "temperature_min", "temperature_morn", "temperature_night",\
              "timezone", "uv_index", "wind_direction_deg", "wind_gust", "wind_speed")

In [17]:
df1.write.format("org.apache.spark.sql.cassandra")\
    .mode('overwrite')\
    .option("confirm.truncate","true")\
    .options(table="daily_city_weather", keyspace="demo")\
    .save()

In [20]:
weather = spark.read.format("org.apache.spark.sql.cassandra")\
    .options(table="daily_city_weather", keyspace="demo")\
    .load()
weather.filter("condition='Rain'").show()

+-----------+--------------+----------+------+---------+--------------------+---------+--------+---------+----------+----------+------------+--------+--------+--------+---------------+---------------+---------------+---------------+----------------+-----------------+-------------------+--------+------------------+---------+----------+
|       city|         state|      date|census|condition|         description|dew_point|latitude|longitude|moon_phase|pct_clouds|pct_humidity|pressure|rainfall|snowfall|temperature_day|temperature_eve|temperature_max|temperature_min|temperature_morn|temperature_night|           timezone|uv_index|wind_direction_deg|wind_gust|wind_speed|
+-----------+--------------+----------+------+---------+--------------------+---------+--------+---------+----------+----------+------------+--------+--------+--------+---------------+---------------+---------------+---------------+----------------+-----------------+-------------------+--------+------------------+---------+----------+
|New Orleans|     Louisiana|2021-10-20|383997|     Rain|       moderate rain|       70|      29|      -90|       0.5|        71|          70|    1020|      15|       0|             81|             75|             81|             71|              71|               72|    America/Chicago|       5|               158|       18|         9|
|New Orleans|     Louisiana|2021-10-21|383997|     Rain|          light rain|       69|      29|      -90|      0.53|         6|          64|    1020|       4|       0|             82|             78|             83|             70|              71|               73|    America/Chicago|       6|               153|       15|         6|
|New Orleans|     Louisiana|2021-10-22|383997|     Rain|          light rain|       68|      29|      -90|      0.56|        18|          64|    1018|       0|       0|             81|             75|             83|             71|              71|               72|    America/Chicago|       5|                88|       11|         6|
|New Orleans|     Louisiana|2021-10-24|383997|     Rain|          light rain|       67|      29|      -90|      0.62|        34|          56|    1015|       0|       0|             84|             77|             84|             72|              72|               75|    America/Chicago|       6|               129|       17|        12|
|     Denver|      Colorado|2021-10-19|715522|     Rain|       moderate rain|       26|      39|     -104|      0.47|        56|          28|    1006|       1|       0|             59|             46|             59|             44|              54|               44|     America/Denver|       2|               354|       26|        17|
|    Raleigh|North Carolina|2021-10-22|467665|     Rain|          light rain|       59|      35|      -78|      0.56|        56|          58|    1016|       0|       0|             75|             75|             75|             61|              61|               61|   America/New_York|       2|               249|       31|        10|
|    Raleigh|North Carolina|2021-10-24|467665|     Rain|          light rain|       50|      35|      -78|      0.62|        66|          49|    1020|       0|       0|             70|             77|             77|             58|              59|               66|   America/New_York|       5|               178|       12|         5|
|    Raleigh|North Carolina|2021-10-25|467665|     Rain|          light rain|       46|      35|      -78|      0.65|        93|          57|    1027|       0|       0|             61|             67|             68|             54|              60|               58|   America/New_York|       5|                45|       22|        10|
|   Paterson|    New Jersey|2021-10-23|159732|     Rain|          light rain|       38|      40|      -74|      0.59|        57|          46|    1016|       0|       0|             59|             56|             59|             49|              54|               49|   America/New_York|       1|               310|       18|         7|
|   Paterson|    New Jersey|2021-10-26|159732|     Rain|       moderate rain|       46|      40|      -74|      0.68|       100|          88|    1022|       7|       0|             50|             53|             55|             47|              47|               55|   America/New_York|       2|                99|       14|         4|
|      Plano|         Texas|2021-10-20|285494|     Rain|          light rain|       62|      33|      -96|       0.5|        30|          56|    1018|       0|       0|             79|             77|             82|             65|              65|               73|    America/Chicago|       4|               183|       28|        11|
|      Plano|         Texas|2021-10-21|285494|     Rain|       moderate rain|       58|      33|      -96|      0.53|       100|          57|    1020|       2|       0|             74|             74|             78|             64|              64|               69|    America/Chicago|       4|                56|       14|         7|
|      Plano|         Texas|2021-10-22|285494|     Rain|       moderate rain|       63|      33|      -96|      0.56|        78|          62|    1017|       4|       0|             76|             78|             82|             64|              64|               75|    America/Chicago|       4|               124|       12|         6|
|      Plano|         Texas|2021-10-26|285494|     Rain|heavy intensity rain|       70|      33|      -96|      0.68|       100|          95|    1008|      27|       0|             71|             74|             76|             70|              73|               73|    America/Chicago|       5|               186|       38|        19|
|  Baltimore|      Maryland|2021-10-21|585708|     Rain|          light rain|       45|      39|      -76|      0.53|        50|          39|    1016|       0|       0|             71|             72|             76|             59|              59|               65|   America/New_York|       3|               248|       31|        12|
|  Baltimore|      Maryland|2021-10-22|585708|     Rain|          light rain|       47|      39|      -76|      0.56|         3|          50|    1016|       0|       0|             67|             64|             68|             58|              60|               59|   America/New_York|       2|               280|       25|        10|
|  Baltimore|      Maryland|2021-10-23|585708|     Rain|          light rain|       47|      39|      -76|      0.59|        76|          54|    1016|       0|       0|             64|             64|             67|             55|              59|               55|   America/New_York|       2|               273|       21|        13|
|  Baltimore|      Maryland|2021-10-24|585708|     Rain|          light rain|       35|      39|      -76|      0.62|         0|          44|    1021|       0|       0|             57|             61|             62|             51|              52|               51|   America/New_York|       3|               321|       23|        11|
|  Baltimore|      Maryland|2021-10-26|585708|     Rain|       moderate rain|       51|      39|      -76|      0.68|       100|          89|    1020|      10|       0|             55|             59|             59|             52|              52|               58|   America/New_York|       3|               159|       23|        10|
|  Elk Grove|    California|2021-10-20|176124|     Rain|          light rain|       41|      38|     -121|       0.5|       100|          54|    1019|       0|       0|             58|             58|             63|             54|              54|               56|America/Los_Angeles|       1|               329|       12|         6|
+-----------+--------------+----------+------+---------+--------------------+---------+--------+---------+----------+----------+------------+--------+--------+--------+---------------+---------------+---------------+---------------+----------------+-----------------+-------------------+--------+------------------+---------+----------+
only showing top 20 rows